body {
    padding: 10px;
}


.auction-card {
    display: flex;
    max-width: 50%;
    border: 1px solid #ccc;
    border-radius: 5px;
    overflow: hidden;
    background-color: white;
    box-shadow: 0 2px 4px rgba(0, 0, 0, 0.1);
    margin-bottom: 20px;
}


.auction-card-image {
    flex: 0 0 150px;
    background-color: #f8f8f8;

}

.auction-card-image img {
    width: 100%;
    height: 100%;
    max-width: 100px;
    margin-left: 20px;
    object-fit: contain;
    display: block;
}

.auction-card-content {
    padding: 20px;
    display: flex;
    flex-direction: column;
    justify-content: center;
}

.auction-card-center {
    display: flex;
    flex-direction: column;
    align-items: center;
}