{% extends "auctions/layout.html" %}

{% block body %}
{% if error %}
<p>{{ error }}</p>
{% else %}
{% if request.user.is_authenticated and listing.enabled %}
<div class="auction-card-center">
    <div class="auction-card-image">
        <img src="{{ listing.image }}" alt="{{ listing.title }}">
    </div>
    <h2>{{ listing.title }}</h2>
    <p>{{ listing.description }}</p>
    <p>Category: <strong>{{ listing.category }}</strong></p>
    <p>Initial Price: <strong>${{ listing.lowest_bid }}</strong></p>
    <p>Actual Bid: <strong>${{ listing.actual_bid }}</strong></p>

    {% if request.user.is_authenticated and request.user != listing.owner %}
    {% if is_in_watchlist %}
    <form action="{% url 'auctions:listing' listing.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="remove">
        <button type="submit" class="btn btn-secondary mt-2 w-100">Remove from watchlist</button>
    </form>
    {% else %}
    <form action="{% url 'auctions:listing' listing.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="add">
        <button type="submit" class="btn btn-secondary mt-2 w-100">Add to watchlist</button>
    </form>
    {% endif %}
    <hr>
    <form action="{% url 'auctions:listing' listing.id %}" method="post">
        {% csrf_token %}
        {{ bid_form }}
        <input type="hidden" name="action" value="bid">
        <button class="btn btn-primary mt-2 w-100" type="submit">Bid now</button>
    </form>
    {% endif %}
    {% if request.user.is_authenticated and request.user == listing.owner %}
    <form action="{% url 'auctions:listing' listing.id %}" method="post">
        {% csrf_token %}
        <input type="hidden" name="action" value="close">
        <button type="submit" class="btn btn-danger mt-2 w-100">Close Listing</button>
    </form>
    {% endif %}
</div>
{%elif request.user.is_authenticated and listing.enabled == False and listing.winner == request.user %}
<div class="auction-card-center">
    <div class="auction-card-image">
        <img src="{{ listing.image }}" alt="{{ listing.title }}">
    </div>
    <h2>{{ listing.title }}</h2>
    <p>{{ listing.description }}</p>
    <p>Category: <strong>{{ listing.category }}</strong></p>
    <p>Initial Price: <strong>${{ listing.lowest_bid }}</strong></p>
    <p>Actual Bid: <strong>${{ listing.actual_bid }}</strong></p>
    <p>You won this listing for ${{ listing.actual_bid }}</p>
</div>
{% else %}
<p>This listing is not available anymore.</p>
{% endif %}
</div class="comments mt-4">
<h2>Comments</h2>
{% if request.user.is_authenticated %}
<div class="card mb-4">
    <div class="card-body">
        <form action="{% url 'auctions:comment' listing.id %}" method="post">
            {% csrf_token %}
            <div class="form-group">
                {{ comment_form }}
            </div>
            <button class="btn btn-primary mt-2 w-20" type="submit">Comment</button>
        </form>
    </div>
</div>
{% endif %}
<div class="comments-list">
    {% for comment in comments %}
    <div class="auction-comment">
        <div class="comment-header">
            <span class="comment-user"><strong>@{{ comment.comenter }}</strong></span>
        </div>
        <div class="comment-body">
            {{ comment.comment }}
        </div>
    </div>
    {% empty %}
    <p class="text-muted">Nothing here. Help us comment!</p>
    {% endfor %}
</div>
</div>
{% endif %}
{% endblock %}