.links {
    display: flex;
    justify-content: right;
    padding: 10px;
    margin: 10px;
    gap: 10px;
}

.search {
    display: flex;
    padding: 10px;
    margin: 10px;
    gap: 20px;
    flex-direction: column;
    align-items: center;

}

.search-title h2 {
    color: lightcoral;

}

.advanced-search {
    display: flex;
    padding: 10px;
    margin: 10px;
    gap: 20px;
    flex-direction: column;
    align-items: flex-start;

}

#google-search {
    display: flex;
    flex-direction: column;
    align-items: center;
    gap: 12px;
    width: 100%;
    max-width: 500px;
}

#google-advanced-search {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    gap: 12px;
    width: 100%;
    max-width: 500px;
}

#google-advanced-search input[type="search"] {
    width: 100%;
    padding: 8px 12px;
    font-size: 16px;
    border-radius: 0px;
    border: 1px solid #dfe1e5;

}

#google-advanced-search .field {
    display: grid;
    grid-template-columns: 150px 1fr;
    align-items: center;
    gap: 5px;
    width: 100%;
}

#google-advanced-search label {
    font-size: 14px;
    color: #202124;
}

.search-buttons {
    display: grid;
    grid-template-columns: 1fr 1fr;
    gap: 12px;
}

#google-advanced-search input[type="submit"] {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
    background-color: lightblue;
    color: white;
    border: none;
    cursor: pointer;
    align-self: flex-end;

}

#google-search input[type="search"] {
    width: 100%;
    padding: 12px 16px;
    font-size: 16px;

    border-radius: 24px;
    border: 1px solid #dfe1e5;
}

#google-search button[type="submit"] {
    padding: 10px 20px;
    font-size: 14px;
    border-radius: 4px;
    cursor: pointer;
}

footer {
    display: flex;
    justify-content: center;
    gap: 12px;

}