.container {
    display: flex;
    flex-wrap: wrap;
}

.container>div {
    border: 1px solid rgb(229, 1, 1);
}

.left.half {
    flex: 1;
}

.right.half {
    flex: 1;
    width: 70%;
}

.special1 ul>li {
    color: red;
}

a[href="https://www.google.com"] {
    color: yellow;
}

#grid {
    display: grid;
    background-color: bisque;
    grid-column-gap: 20px;
    grid-row-gap: 10px;
    grid-template-columns: 200px 200px auto;
}

.grid-item {
    background-color: gray;
    border: 1px double black;
    padding: 5px;
}

#button1 {
    border: 1px solid black;
    padding: 10px;
    margin: 10px;
    color: blue;
    background-color: green;
}

#button1:hover {
    color: red;
    background-color: orange;
}

#title {
    color: green;
    text-align: center;
    border: 1px double black;
    padding: 20px;
    margin: 10px;
    font-family: cursive;
    font-weight: bold;
    font-size: 40px;
}

table.special {
    border: 1px double black;
    border-collapse: collapse;
    padding: 20px;
    margin: 10px;

    th,
    td {
        background-color: green;
        border: 1px double black;
        padding: 5px;
    }
}

.special1 {
    background-color: pink;
    text-align: center;
    border: 1px double black;
    padding: 20px;
    margin: 10px;
}

.special2 {
    background-color: rgb(125, 157, 188);
    text-align: left;
    border: 1px double black;
    padding: 20px;
    margin: 10px;

}


@media (max-width: 800px) {
    body {
        background-color: rgb(0, 255, 187);
    }
}

@media (min-width: 801px) {
    body {
        background-color: rgb(119, 195, 236);
    }
}